.about{

    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.about-intro, .about-exp, .about-educ, .about-cert{
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;   
  text-align: left;
}

.about-desc{
  color: #323232;
  font-size: 20px;
  max-width: 100%;
  margin: 0;
  margin-top: 20px;
  line-height: 1.4
}

.about-img {
  width: 100%;
  max-width: 760px;
  margin: 80px auto 0;
}

.about-img img {
  width: 100%;
  height: 460px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.about-titles{

  font-size: 32px;
  max-width: 100%;
  margin: 0;
  margin-top: 80px;
  font-weight: 700;

}

.exp-sub{

    font-weight: 600;
    font-size: 20px;
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
    line-height: 1.4
  
}

.exp-desc{

      color: #323232;
    font-size: 20px;
    max-width: 100%;
    margin-top: 10px;
    line-height: 1.4

}

.educ-sub{

    font-weight: 600;
    font-size: 20px;
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
    line-height: 1.4
  
}

.educ-desc{

    color: #323232;
    font-size: 20px;
    max-width: 100%;
    margin-top: 10px;
    line-height: 1.4
}


.cert-link{

  font-size: 20px;
  margin-top: 30px;
  text-decoration: underline;
  color: #1E1E1E;
  transition: .3s;
  margin-bottom: 120px;

}

.cert-link:hover {

  transition: .3s;
  opacity: 0.6;
  cursor: pointer;
}

.about-img .swiper-button-next,
.about-img .swiper-button-prev {
  width: 30px;
  height: 30px;
  color: rgb(0, 0, 0) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
  font-weight: bold;
}

.about-img .swiper-pagination-bullet {

  background: rgb(0, 0, 0) !important;
}

@media screen and (max-width: 767px) {

  .about-titles{

  font-size: 28px;

}

.about-img {
  width: 100%;
  max-width: 700px;
  margin: 80px auto 0;
  padding: 0 16px;
}

.about-img img {
  height: 300px;
  border-radius: 20px;
}
}