.about{

    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.about-intro, .about-exp, .about-educ, .about-cert{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;   /* left align content */
  text-align: left;
}

#about-desc{
  font-family: 'Inter';
  font-size: 20px;
  max-width: 100%;
  margin: 0;
  margin-top: 30px;
  line-height: 1.4
}

.about-img img{

  width: 100%;
  max-width: 660px;
  height: auto;
  margin: 80px auto 0;
  border-radius: 10px;
  display: block;
}

.about-titles{

  font-family: 'Inter';
  font-size: 48px;
  max-width: 100%;
  margin: 0;
  margin-top: 80px;
  font-weight: 400;

}

.exp-sub{

    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
    line-height: 1.4
  
}

.exp-desc{

    font-family: 'Inter';
    font-size: 20px;
    max-width: 100%;
    margin-top: 10px;
    line-height: 1.4

}

.educ-sub{

    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
    line-height: 1.4
  
}

.educ-desc{

    font-family: 'Inter';
    font-size: 20px;
    max-width: 100%;
    margin-top: 10px;
    line-height: 1.4
}


.cert-link{

  font-size: 20px;
  margin-top: 30px;
  text-decoration: underline;
  color: #1E1E1E;
  transition: .3s;
  margin-bottom: 120px;

}

.cert-link:hover {

  transition: .3s;
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {

  .about-titles{

  font-size: 42px;

}

.about-img img{

  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 25px;
  padding: 16px 16px;

}
}