.meteors-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}
.meteor {
  position: absolute;
  top: -100px;
  width: 2px;
  height: 80px;

  background: linear-gradient(
    to bottom,
    rgba(29, 29, 29, 0),
    rgba(125, 125, 125, 0.9)
  );

  transform: rotate(45deg);

  animation: meteor-fall linear infinite;
  opacity: 0.1;
}

@keyframes meteor-fall {
  from {
    transform: translate(0,0) rotate(45deg);
    opacity: 1;
  }

  to {
    transform: translate(-500px,800px) rotate(45deg);
    opacity: 0;
  }
}