
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    font-family: 'inter';
    position: fixed; 
    top: 30px; 
    width: 80%;
    z-index: 1000;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 30px;

    left: 50%;
    transform: translateX(-50%);

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);

}


.links{

    display: flex;
    gap: 25px;
    margin-right: 0px;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}