

.landing {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}

.nav {
  width: 100%;
}

.intro {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

#desc {

  font-family: 'Inter';
  font-size: 20px;
  color: gray;
  margin: 0;
  width: 760px;
  line-height: 1.1;
  margin-top: 30px;

}

#header {
  font-family: 'Inter';
  font-size: 68px;
  width: 800px;
  margin: 0;

}

.cta {

  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 35px;
  
}

button{

  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'inter';
  font-weight: bold;
      border: 1px solid rgba(255,255,255,0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 1px 8px 32px rgba(0,0,0,0.1);

}

#cv{

  background-color: white;

}

#contact{

  background-color: black;
  color: white;
}

.projects {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 30px;
  justify-content: center;
}