

.landing {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.nav {
  width: 100%;
}

.intro {

  display: flex;
  flex-direction: column;
  margin-left: 345px;

}

#desc {

  font-family: 'Inter';
  font-size: 20px;
  color: gray;
  margin: 0;
  width: 760px;
  line-height: 1.1;
  margin-top: 18px;

}

#header {
  font-family: 'Inter';
  font-size: 68px;
  width: 900px;
  margin: 0;
  margin-top: 150px;
}

.cta {

  margin-top: 30px;
  display: flex;
  margin-left: 345px;
  gap: 30px;
  
}

#cv{

  color: #1E1E1E;
  background-color: white;

}

#contact{

  background-color: #1E1E1E;
  color: white;
}

.projects {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 30px;
  justify-content: center;
}