
.landing {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}


.intro {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  text-align: left;
  animation: fadeUp 0.7s 0.1s ease both;
}

.intro span {
  background: linear-gradient(90deg, #5056ff 0%, #fb63f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.02em;
  background-clip: text;
}

.cta {
  width: 100%;
  max-width: 790px;
  margin: 30px auto 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start; 
  gap: 20px;
  animation: fadeUp 0.7s 0.1s ease both;
}

.cta-btns {

  display: flex;
  gap: 20px;
  
}

.cta button{

  padding-left: 30px;
  padding-right:  30px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.landing-socials-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
    gap: 25px;
}

.landing-socials-icon a{

    color: #1a1a1a;
    transition: 0.3s;
}

.landing-socials-icon a:hover{

    transition: 0.3s;
    transform: scale(1.3);
}

#landing-desc {

  font-size: 20px;
  max-width: 100%;
  margin: 0;
  color: #323232;
  margin-top: 20px;
  line-height: 1.6

}

#header {

  font-size: 42px;
  max-width: 100%;
  margin: 0;
  margin-top: 140px;
  font-weight: 800;
}



#cv{

  color: #000000;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(20px);

  border: 1px solid rgba(130, 130, 130, 0.35);

}

#contact{

  background-color: #000000;
  color: white;
}

.projects {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 60px;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  animation: fadeUp 0.7s 0.1s ease both;
}


@media screen and (max-width: 768px) {


}

@media screen and (max-width: 576px) {

  .intro {
    padding: 0 20px;
  }

  #landing-desc {

    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    width: 100%;
    margin-top: 20px;

  }

    .landing-socials-icon{

      font-size: 25px;
  
  }

  #header {

    font-size: 36px;
    width: 100%;
    margin: 0;
    margin-top: 140px;
  }

  .cta {

    margin-top: 30px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    text-align: left;
    gap: 25px;
    
  }

  .cta-btns{
    gap: 15px;
  }

  .cta button{

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
  }

  .landing-socials-icon{
    gap: 16px;
  }


  .projects {
      grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 380px) {

  #header {

    font-size: 32px;
    width: 100%;
    margin: 0;
    margin-top: 140px;
  }


}