
body{

  background: linear-gradient(135deg, #dbeafe, #fbcfe8, #ffffff);
  min-height: 100vh;

  overflow-x: hidden;
  color: #1a1a1a;
  font-family: 'inter';
  margin: 0;
  padding: 0;
  width: 100%;

}

html{
  scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
   /* outline: 1px solid red; */
}

button{

  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 999px;
  cursor: pointer;
  font-family: 'inter';
  font-weight: bold;
  border: thin;
  border-style: none;

}

@media screen and (max-width: 1024px) {



}

@media screen and (max-width: 767px) {


button{

  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-style: solid;
  border-radius: 999px;
  cursor: pointer;
  font-family: 'inter';
  font-weight: bold;
  border: thin;
  border-style: solid;

}

}