
body{

  /* background: linear-gradient(135deg, #dbeafe, #fbcfe8, #ffffff);
  min-height: 100vh; */
width: 100%;
  height: 100%;

  background: #ffffff;
  --gap: 6em;
  --line: 1px;
  --color: rgba(0, 0, 0, 0.3);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);

  overflow-x: hidden;
  color: #000000;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;

}

html{
  scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
   /* outline: 1px solid red; */
}

::selection {
  background-color: #000000; 
  color: #ffffff;            
}

a{

  text-underline-offset: 5px;
}

button{

  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'inter';
  font-weight: bold;
  border: thin;
  border-style: none;
  transition: 0.3s;

}

button:hover{

  transition: 0.3s;
  transform: scaleY(1.2);

}

@media screen and (max-width: 1024px) {



}

@media screen and (max-width: 767px) {


button{

  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'inter';
  font-weight: bold;
  border: thin;
  border-style: solid;

}

}